# coding: utf-8

"""
    LiveAgent API

    This page contains complete API documentation for LiveAgent software. To display additional info and examples for specific API method, just click on the method name in the list below.<br/><br/>To be able to make API requests you need to generate an API key in your admin panel first. [See this article for detailed info.](https://support.liveagent.com/741982-API-key)<br/><br/>Additional info about more advanced agent, contact or ticket API filters can be found [in this article](https://support.liveagent.com/513528-APIv3-advanced-filter-examples).<br/><br/>If you have any question or doubts regarding this API, please do not hesitate to contact our support team.  # noqa: E501

    OpenAPI spec version: 3.0.0
    Contact: support@qualityunit.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from liveagent_api.api_client import ApiClient


class VariationsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_variation(self, variation_id, **kwargs):  # noqa: E501
        """Variation  # noqa: E501

        Get variation  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_variation(variation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str variation_id: (required)
        :return: Variation
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_variation_with_http_info(variation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_variation_with_http_info(variation_id, **kwargs)  # noqa: E501
            return data

    def get_variation_with_http_info(self, variation_id, **kwargs):  # noqa: E501
        """Variation  # noqa: E501

        Get variation  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_variation_with_http_info(variation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str variation_id: (required)
        :return: Variation
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['variation_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_variation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'variation_id' is set
        if ('variation_id' not in params or
                params['variation_id'] is None):
            raise ValueError("Missing the required parameter `variation_id` when calling `get_variation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'variation_id' in params:
            path_params['variationId'] = params['variation_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apikey', 'privileges']  # noqa: E501

        return self.api_client.call_api(
            '/variations/{variationId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Variation',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def validate_limits(self, variation_id, **kwargs):  # noqa: E501
        """Validate Limits  # noqa: E501

        Validate Limits  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.validate_limits(variation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str variation_id: (required)
        :return: list[LimitValidationFail]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.validate_limits_with_http_info(variation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.validate_limits_with_http_info(variation_id, **kwargs)  # noqa: E501
            return data

    def validate_limits_with_http_info(self, variation_id, **kwargs):  # noqa: E501
        """Validate Limits  # noqa: E501

        Validate Limits  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.validate_limits_with_http_info(variation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str variation_id: (required)
        :return: list[LimitValidationFail]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['variation_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method validate_limits" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'variation_id' is set
        if ('variation_id' not in params or
                params['variation_id'] is None):
            raise ValueError("Missing the required parameter `variation_id` when calling `validate_limits`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'variation_id' in params:
            path_params['variationId'] = params['variation_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apikey', 'privileges']  # noqa: E501

        return self.api_client.call_api(
            '/variations/{variationId}/validate-limits', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[LimitValidationFail]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
