# coding: utf-8

"""
BansApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class BansApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def create_ban(self, **kwargs):
        """
        Create ban
        Create new ban record

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_ban(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param Ban ban: 
        :return: Ban
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ban']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_ban" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/bans/'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'ban' in params:
            body_params = params['ban']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['privileges']

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Ban',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def expire_ban(self, ban_id, **kwargs):
        """
        Expire ban
        Expire ban

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.expire_ban(ban_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int ban_id:  (required)
        :return: Ban
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ban_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method expire_ban" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'ban_id' is set
        if ('ban_id' not in params) or (params['ban_id'] is None):
            raise ValueError("Missing the required parameter `ban_id` when calling `expire_ban`")

        resource_path = '/bans/{banId}/_expire'.replace('{format}', 'json')
        path_params = {}
        if 'ban_id' in params:
            path_params['banId'] = params['ban_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['privileges']

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Ban',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_ban(self, ban_id, **kwargs):
        """
        Get ban item
        Ban item

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_ban(ban_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int ban_id:  (required)
        :return: Ban
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ban_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_ban" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'ban_id' is set
        if ('ban_id' not in params) or (params['ban_id'] is None):
            raise ValueError("Missing the required parameter `ban_id` when calling `get_ban`")

        resource_path = '/bans/{banId}'.replace('{format}', 'json')
        path_params = {}
        if 'ban_id' in params:
            path_params['banId'] = params['ban_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['privileges']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Ban',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_bans(self, **kwargs):
        """
        Bans list
        List of bans

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_bans(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int page: Page to display. Not used if _from is defined.
        :param int per_page: Results per page. Used only if _page is used.
        :param str sort_dir: Sorting direction ASC or DESC
        :param str sort_field: Sorting field
        :param str filters: Filters (json object {column:value, ...})
        :param int _from: Result set start. Takes precedence over _page.
        :param int to: Result set end. Used only if _from is used.
        :return: list[BanListItem]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page', 'per_page', 'sort_dir', 'sort_field', 'filters', '_from', 'to']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_bans" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/bans/'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'page' in params:
            query_params['_page'] = params['page']
        if 'per_page' in params:
            query_params['_perPage'] = params['per_page']
        if 'sort_dir' in params:
            query_params['_sortDir'] = params['sort_dir']
        if 'sort_field' in params:
            query_params['_sortField'] = params['sort_field']
        if 'filters' in params:
            query_params['_filters'] = params['filters']
        if '_from' in params:
            query_params['_from'] = params['_from']
        if 'to' in params:
            query_params['_to'] = params['to']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['privileges']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[BanListItem]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_ban(self, ban_id, **kwargs):
        """
        Update ban
        Update ban

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_ban(ban_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int ban_id:  (required)
        :param Ban ban: 
        :return: Ban
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ban_id', 'ban']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_ban" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'ban_id' is set
        if ('ban_id' not in params) or (params['ban_id'] is None):
            raise ValueError("Missing the required parameter `ban_id` when calling `update_ban`")

        resource_path = '/bans/{banId}'.replace('{format}', 'json')
        path_params = {}
        if 'ban_id' in params:
            path_params['banId'] = params['ban_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'ban' in params:
            body_params = params['ban']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['privileges']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Ban',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
