# coding: utf-8

"""
TicketsApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class TicketsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def delete_ticket(self, ticket_id, **kwargs):
        """
        Deletes ticket
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_ticket(ticket_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ticket_id:  (required)
        :return: OkResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ticket_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_ticket" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'ticket_id' is set
        if ('ticket_id' not in params) or (params['ticket_id'] is None):
            raise ValueError("Missing the required parameter `ticket_id` when calling `delete_ticket`")

        resource_path = '/tickets/{ticketId}'.replace('{format}', 'json')
        path_params = {}
        if 'ticket_id' in params:
            path_params['ticketId'] = params['ticket_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['privileges', 'apikey']

        response = self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='OkResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_ticket(self, ticket_id, **kwargs):
        """
        Gets ticket
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_ticket(ticket_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ticket_id:  (required)
        :return: Ticket
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ticket_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_ticket" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'ticket_id' is set
        if ('ticket_id' not in params) or (params['ticket_id'] is None):
            raise ValueError("Missing the required parameter `ticket_id` when calling `get_ticket`")

        resource_path = '/tickets/{ticketId}'.replace('{format}', 'json')
        path_params = {}
        if 'ticket_id' in params:
            path_params['ticketId'] = params['ticket_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['privileges', 'apikey']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Ticket',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_ticket_attribute(self, ticket_id, attribute_name, **kwargs):
        """
        Gets ticket attribute
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_ticket_attribute(ticket_id, attribute_name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ticket_id:  (required)
        :param str attribute_name:  (required)
        :return: TicketAttribute
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ticket_id', 'attribute_name']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_ticket_attribute" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'ticket_id' is set
        if ('ticket_id' not in params) or (params['ticket_id'] is None):
            raise ValueError("Missing the required parameter `ticket_id` when calling `get_ticket_attribute`")
        # verify the required parameter 'attribute_name' is set
        if ('attribute_name' not in params) or (params['attribute_name'] is None):
            raise ValueError("Missing the required parameter `attribute_name` when calling `get_ticket_attribute`")

        resource_path = '/tickets/{ticketId}/attributes/{attributeName}'.replace('{format}', 'json')
        path_params = {}
        if 'ticket_id' in params:
            path_params['ticketId'] = params['ticket_id']
        if 'attribute_name' in params:
            path_params['attributeName'] = params['attribute_name']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['privileges', 'apikey']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='TicketAttribute',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_ticket_sla(self, ticket_id, **kwargs):
        """
        Gets ticket Sla
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_ticket_sla(ticket_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ticket_id:  (required)
        :return: TicketSla
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ticket_id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_ticket_sla" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'ticket_id' is set
        if ('ticket_id' not in params) or (params['ticket_id'] is None):
            raise ValueError("Missing the required parameter `ticket_id` when calling `get_ticket_sla`")

        resource_path = '/tickets/{ticketId}/sla'.replace('{format}', 'json')
        path_params = {}
        if 'ticket_id' in params:
            path_params['ticketId'] = params['ticket_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['privileges', 'apikey']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='TicketSla',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def get_tickets_list(self, **kwargs):
        """
        Gets list of tickets
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_tickets_list(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int page: Page to display. Not used if _from is defined.
        :param int per_page: Results per page. Used only if _page is used.
        :param int _from: Result set start. Takes precedence over _page.
        :param int to: Result set end. Used only if _from is used.
        :param str sort_dir: Sorting direction ASC or DESC
        :param str sort_field: Sorting field
        :param str filters: Filters (json object {column:value, ...})
        :return: list[Ticket]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page', 'per_page', '_from', 'to', 'sort_dir', 'sort_field', 'filters']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_tickets_list" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/tickets'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'page' in params:
            query_params['_page'] = params['page']
        if 'per_page' in params:
            query_params['_perPage'] = params['per_page']
        if '_from' in params:
            query_params['_from'] = params['_from']
        if 'to' in params:
            query_params['_to'] = params['to']
        if 'sort_dir' in params:
            query_params['_sortDir'] = params['sort_dir']
        if 'sort_field' in params:
            query_params['_sortField'] = params['sort_field']
        if 'filters' in params:
            query_params['_filters'] = params['filters']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['privileges', 'apikey']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='list[Ticket]',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def set_ticket_attribute(self, ticket_id, attribute_name, value, **kwargs):
        """
        Sets ticket attribute
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.set_ticket_attribute(ticket_id, attribute_name, value, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ticket_id:  (required)
        :param str attribute_name:  (required)
        :param str value: New attribute value (required)
        :return: OkResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ticket_id', 'attribute_name', 'value']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method set_ticket_attribute" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'ticket_id' is set
        if ('ticket_id' not in params) or (params['ticket_id'] is None):
            raise ValueError("Missing the required parameter `ticket_id` when calling `set_ticket_attribute`")
        # verify the required parameter 'attribute_name' is set
        if ('attribute_name' not in params) or (params['attribute_name'] is None):
            raise ValueError("Missing the required parameter `attribute_name` when calling `set_ticket_attribute`")
        # verify the required parameter 'value' is set
        if ('value' not in params) or (params['value'] is None):
            raise ValueError("Missing the required parameter `value` when calling `set_ticket_attribute`")

        resource_path = '/tickets/{ticketId}/attributes/{attributeName}'.replace('{format}', 'json')
        path_params = {}
        if 'ticket_id' in params:
            path_params['ticketId'] = params['ticket_id']
        if 'attribute_name' in params:
            path_params['attributeName'] = params['attribute_name']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'value' in params:
            form_params.append(('value', params['value']))

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/x-www-form-urlencoded'])

        # Authentication setting
        auth_settings = ['privileges', 'apikey']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='OkResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def update_ticket(self, ticket_id, **kwargs):
        """
        Updates ticket
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.update_ticket(ticket_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ticket_id:  (required)
        :param TicketUpdatable ticket: 
        :return: Ticket
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ticket_id', 'ticket']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_ticket" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'ticket_id' is set
        if ('ticket_id' not in params) or (params['ticket_id'] is None):
            raise ValueError("Missing the required parameter `ticket_id` when calling `update_ticket`")

        resource_path = '/tickets/{ticketId}'.replace('{format}', 'json')
        path_params = {}
        if 'ticket_id' in params:
            path_params['ticketId'] = params['ticket_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'ticket' in params:
            body_params = params['ticket']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['privileges', 'apikey']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Ticket',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
